<!DOCTYPE html>
<html ng-app="dreamApp">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dream-Cacher</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      .box {
        margin: 0 auto;
        width: 500px;
        background-color: lightgrey;
      }
    </style>

  </head>
  <body>
  <!-- Dreams View -->
    <h1>Dream Cacher</h1>

    <div class ="box" ng-controller="dreamsController">

      <form ng-submit="createDream()">
        <div><input type="text" placeholder="Author" ng-model="author"></input></div>
          <div><input type="text" placeholder="Dream title" ng-model="dreamTitle"></input></div>
          <div><textarea type="text" placeholder="Dream body" ng-model="dreamBody"></textarea></div>
          <div><input type="text" placeholder="Tags" ng-model="tags"></input></div>
          <button type="submit">Add</button>
      </form>

      <h3>There are {{dreams.length}} dreams</h3>
        <input ng-model='search' placeholder='Search dreams'/>
        <div class="box" ng-repeat="dream in dreams | orderBy:'':true | filter:search">
          <div class="box">Author: {{dream.author || 'Anonymous'}}</div>
          <div class="box">{{"Title: " + dream.title}}</div>
          <div class="box">{{dream.body}}</div>
          <div class="box">Tags: [{{dream.tags}}]</div>
          <br>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/dreams-controller.js"></script>

  </body>
</html>
